<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Mini-Filweb{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            '@angular_material_css'
        combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}

    {% block head %}

    {% endblock head %}
</head>

<body {% block body_params %}class=""{% endblock %}>
<!-- NAVBAR -->
<div {% block wrapper_params %}{% endblock %}>
    {% block page_top %}
        {#navbar+ logo#}
    {% endblock page_top %}

    <!-- PAGE HEADING -->
    {% block page_heading %}
    {% endblock %}

    <!-- BODY  -->
    <div class="ng-cloak">
        {% block body %}
            <div class="container container-main space-">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock body %}
    </div>
    <!-- FOOTER  -->
    {% block footer %}
    {% endblock %}



    <!-- MODALS -->

    {% block modals %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->


    {% block javascripts %}
        {% javascripts combine=true output='js/javascripts.js'
            '@angular_js' '@angular_messages_js' '@angular_aria_js'
            '@angular_animate_js' '@angular_material_js' '@angular_modules_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block legacy_javascripts %}
    {% endblock %}
</div>
</body>
</html>